html {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  font-size: 10px;
  overflow: auto;

  body {
    display: flex;
    padding: 0;
    margin:  0;
    font-size: 1.6rem;
    overflow: auto;
    flex: 1 1 auto;

    #__next{
      display: flex;
      overflow: auto;
    }
  }
}

* {
  box-sizing: border-box;
}
