.Component:global(.element-picker) {
  user-select: none;
  overflow:    auto;
}

.Component :global(.element-picker-rect) {
  content:    " ";
  position:   absolute;
  box-sizing: border-box;
  border:     1px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.2);
}
