.Component {
  overflow:    auto;
  box-sizing:  border-box !important;
  user-select: none !important;
}

.Component :global(.element-picker-rect) {
  position:   absolute !important;
  box-sizing: border-box !important;
  border:     1px solid rgba(0, 0, 0, 0.4);
  background: rgba(0, 0, 0, 0.2);
}
