.Component {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 90%;
    height: 500px;
    position: relative;
    padding: 10px;
    margin: 10px auto;
    border: 5px solid black;
    outline: none;
    user-select: none;
    overflow: auto;

    &::before {
        content: " ";
        position: absolute;
        box-sizing: border-box;
        display: var(--display, none);
        top: var(--top);
        left: var(--left);
        width: var(--width);
        height: var(--height);
        border: var(--background, 1px solid rgba(0,0,0,0.4));
        background: var(--background, rgba(0,0,0,0.2));
    }


    .Rect {
        border: 1px solid darkgoldenrod;
        position: absolute;
    }
}
